
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> survos/inspection-bundle ###
/flickr-downloads
###< survos/inspection-bundle ###

.castor.stub.php

drivers
data
public/js/fos_js_routes.js
.castor.stub.php

.castor.stub.php
